# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# Sanal ortamlar
.venv/
venv/
env/
ENV/

# Windows venv binary'leri (yanlışlıkla eklenmesin)
*.exe
Activate.ps1
activate
activate.bat
deactivate.bat
pyvenv.cfg

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Loglar
*.log
